<div style="margin-top: 30px; display: flex; justify-content: center;">
    <img class="gradient-border" src="assets/sandipankarmakar.png" alt="profilepicture" width="200" height="200">
</div>

<div style="padding: 30px; text-align: justify;">
    <p class="lead pb-5" style="font-size: medium;">
        Hi, I'm Sandipan, a passionate Full-Stack Developer with expertise in Spring Boot, REST API, and MySQL. I thrive
        on building scalable, efficient, and responsive applications that align with modern business needs. Currently,
        I’m expanding my skill set in Angular 19 to create dynamic and seamless user experiences.
        <br><br>
        With over two years of industry experience, I have successfully managed end-to-end web app development,
        translating complex business requirements into robust technical solutions. My proficiency spans both frontend
        and backend frameworks, ensuring optimal performance and functionality.
        
        Beyond coding, I enjoy strumming chords on my guitar and singing, adding creativity to both my music and
        development work. Always eager to learn, I’m also diving into low-level concepts and plan to explore Symbolic
        Machine Language (SMD) in the future.
        Currently pursuing my Master’s in Computer Applications (MCA), I am focused on refining my expertise and
        accelerating my professional growth. My portfolio showcases my journey, projects, and the innovations I bring to
        software development.
        <br><br>
        Let’s build something amazing together! 🚀
        <a class="text-decoration-none" href="mailto:sandipan.sk7@gmail.com">sandipan.sk7&#64;gmail.com</a>.
    </p>
</div>
<app-footer></app-footer>