.gradient-border {
    position: relative;
    padding: 5px;
    text-align: justify;
    border: 3px solid transparent;
    border-radius: 100%;
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(130deg, #ff9c02, #ff9c02, white, white) border-box;
}
