<div class="container-fluid" id="experience">
    <div class="row" style=" padding: 10px;">


        <div class="col-lg-8 col-12" style="background-color: transparent;">
            <div class="card mt-2" style=" border: none; padding: 10px;">

                <h1 class="lead" style=" font-weight: normal; font-size:10px; text-align: left;">WORK EXPERIENCE
                </h1>
                <h5 class="lead"
                    style="font-family: genos; font-size: xx-large; font-family: Arial, Helvetica, sans-serif;">
                    Here Is My
                    <span style="color: #015c92;">Industrial Experience</span>
                </h5>


                <div class="box" style="padding: px; margin-top: 10px; ">
                    <span style="color: #015c92; font-size: medium; font-weight: normal; margin-top: 15px; "><i
                            class="fa-solid fa-building" style="font-size: 12px; "></i>&nbsp; Infosys Ltd. | System
                        Associate</span>
                    <!-- <span style="color: #757575; font-size: 12px; font-weight: normal; margin-bottom: 5px;">System
                    Engineer | Nov, 2021 - Present</span> -->
                    <p class="lead" style="font-size: small; text-align: justify; margin-top: 5px;color: #757575;">During my tenure spanning two years
                        at Infosys, I spearheaded the
                        complete lifecycle of web
                        application development, leveraging Angular for the frontend and an array of backend
                        frameworks.
                        My role encompassed comprehensive tasks ranging from analysis and design to hands-on
                        development. Notably, I possess adept skills in identifying and rectifying web application
                        security vulnerabilities, ensuring robust protection measures.

                        <!-- Working within cross-functional teams, I excelled in translating intricate business
                    requisites into innovative technological solutions. This experience honed not only my technical acumen
                    but also enhanced my communication and collaborative abilities significantly. My expertise
                    extends beyond mere coding; I thrive in bridging the gap between business objectives and technical
                    implementations, fostering seamless synergy across departments.</span> -->
                    </p>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6 col-6" style="">

                            <h5 class="lead" style="text-decoration: none; color: #015c92; font-size: medium; font-weight: normal;"><i
                                    class="fa-solid fa-rocket"
                                    style="text-decoration: none; color: #015c92; font-size: 13px;"></i>&nbsp;
                                Fullstack Web Development
                            </h5>
                            <p class="lead" style="font-size: small; text-align: justify; margin-top: 5px;color: #757575;">This
                                covers front-end and back-end tasks, including database handling, server-side logic,
                                and UI design. Multi-tech developers handle all project aspects smoothly.</p>
                        </div>

                        <div class="col-lg-6 col-6" style="">

                            <h5 class="lead" style="font-weight: normal; text-decoration: none; color: #015c92; font-size: medium;"><i
                                    class="fa-solid fa-server"
                                    style="text-decoration: none; color: #015c92; font-size: 13px;"></i>&nbsp;
                                MEAN Stack Development
                            </h5>
                            <p class="lead" style="font-size: small; text-align: justify; margin-top: 5px;color: #757575;">MEAN stack: MongoDB,
                                Express.js, Angular, and Node.js. It streamlines web app development with a unified
                                JavaScript approach across the entire stack.</p>
                        </div>
                    </div>
                    <a href="asset/Sandipan Karmakar Resume.pdf" target="_blank"
                        style="color: #757575; font-size: 12px;">
                        <button type="submit"
                            style="font-size: 11px; color: white; width: fit-content; height: auto; border-radius: 2px; background-image: linear-gradient(to right, #1090c2,#1172aa,#015c92); border: none;"
                            class="btn">Resume&nbsp;</button>
                    </a>
                </div>

            </div>
        </div>

        <div class="col-lg-4 col-12" style="padding: 20px;">
            <div class="card mt-3" style="border-radius: 5px; border: 1px solid #015c92; background-color: #;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 13px; color: #015c92;"><i class="fa-brands fa-slack"
                            style="text-decoration: none; color: #015c92; font-size: 13px;"></i>&nbsp; Frontend
                        Development</h5>
                    <p class="card-text" style="font-size: 11px; color: #757575;">This is a wider card with
                        supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <!-- <div class="card-footer">
                    <small class="text-body-secondary" style="font-size: 13px;">Last updated 3 mins ago</small>
                  </div> -->
            </div>
            <div class="card mt-3" style="border-radius: 5px; border: 1px solid #015c92; background-color: #;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 13px; color: #015c92;"><i class="fa-solid fa-gear"
                            style="text-decoration: none; color: #015c92; font-size: 13px;"></i>&nbsp; Backend
                        Development</h5>
                    <p class="card-text" style="font-size: 11px; color: #757575;">This is a wider card with
                        supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <!-- <div class="card-footer">
                    <small class="text-body-secondary" style="font-size: 13px;">Last updated 3 mins ago</small>
                  </div> -->
            </div>
            <div class="card mt-3"
                style="padding: px; border-radius: 5px; border: 1px solid #015c92; background-color: #;">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 13px; color: #015c92;"><i class="fa-solid fa-database"
                            style="text-decoration: none; color: #015c92; font-size: 13px;"></i>&nbsp; Database
                        Management</h5>
                    <p class="card-text" style="font-size: 11px; color: #757575;">This is a wider card with
                        supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <!-- <div class="card-footer">
                    <small class="text-body-secondary" style="font-size: 13px;">Last updated 3 mins ago</small>
                  </div> -->
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>