<div class="container-fluid" style="padding: 15px;">
    <div class="row lead" style="padding: 20px;">
        <h1 class="lead" style="font-size:10px; font-weight: normal;">
            <!-- <i class="fa-solid fa-star-of-life"
                            style="font-size: 11px; color: #8a8a8a ;"></i>&nbsp;&nbsp;  -->
            PROFESSIONAL LIFE
        </h1>
        <h5 class="lead" style="font-family: genos; font-size: xx-large; font-family: Arial, Helvetica, sans-serif;">
            Industrial
            <span style="color: #8a8a8a;font-family: genos;font-family: Arial, Helvetica, sans-serif;">Experience</span>
        </h5>
        <p class="lead" style="font-size: medium; margin-top: 5px;color: #757575;">Good UI/UX boosts
            user satisfaction, engagement, and efficiency, driving conversions, brand reputation, and market
            competitiveness for businesses.</p>
    </div>
</div>