<div class="container-fluid" style="padding: 15px;">
    <div class="row lead" style="padding: 20px;">
        <h1 class="lead" style="font-size:10px; font-weight: normal;">
            <!-- <i class="fa-solid fa-star-of-life"
                            style="font-size: 11px; color: #8a8a8a ;"></i>&nbsp;&nbsp;  -->
            PROFESSIONAL LIFECYCLE
        </h1>
        <h5 class="lead" style="font-family: genos; font-size: xx-large; font-family: Arial, Helvetica, sans-serif;">
            Industrial
            <span style="color: #8a8a8a;font-family: genos;font-family: Arial, Helvetica, sans-serif;">Experience</span>
        </h5>
        <p class="lead" style="font-size: medium; margin-top: 5px;color: #757575;">Explore my industry knowledge,
            technical expertise, and hands-on experience in delivering efficient, scalable, and high-performing digital
            solutions., </p>

        <!-- card1 -->
        <div class="col-lg-7 col-12" style="padding: 10px; ">
            <div class="card" style="padding: 15px; margin: auto;">
                <h5 class=" lead" style="font-weight: 500; text-decoration: none; color: #444444; font-size: large;">
                    Infosys Ltd. |<span
                        style="font-size: large; font-weight: 370;"> Bhubaneswar,
                        India</span>
                </h5>
                <h1 class="lead" style="font-size:12px; font-weight: normal;">
                    <!-- <i class="fa-solid fa-star-of-life"
                                    style="font-size: 11px; color: #8a8a8a ;"></i>&nbsp;&nbsp;  -->

                    <a class="card-link" rel="noopener noreferrer">
                        <span class="badge"
                            style="background-color: rgba(0, 115, 255, 0.139); color: black; font-weight: normal;">Operation
                            Executive</span></a>
                    &rarr;
                    <a class="card-link m-0" rel="noopener noreferrer">
                        <span class="badge"
                            style="background-color: rgba(0, 115, 255, 0.139); color: black; font-weight: normal;">System
                            Associate</span></a>
                </h1>

                <p class="lead"
                    style=" font-size: small; font-weight: 370; text-align: justify; margin-top: 5px;color: #757575;">
                    Led end-to-end web application development for both frontend and backend frameworks, ensuring the
                    seamless integration of business and technical requirements. Provide technical support to clients;
                    troubleshoot issues and resolve them timely.
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="" target=" _blank" class="btn btn-outline-secondary" style="font-size: small;">Download
                        Resume <i class="fa-solid fa-download"></i></a>
                </div>
                <div class="lead " style="padding-top: 22px; font-size: small; font-weight: 370;">Sign in:
                    Nov
                    25, 2021 <span style="display: inline; float: inline-end;">Sign off:
                        Oct
                        03, 2023</span>
                </div>
            </div>
        </div>


        <div class="col-lg-5 col-12" style="padding: 10px;">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item" >
                    <h2 class="accordion-header">
                        <button class="accordion-button" style="font-size: small; " type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="fasls"
                            aria-controls="collapseOne">
                            Frontend Development
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body" style="font-size: small; font-weight: 370; text-align: justify;">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="font-size: small; height: fit-content;"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Backend Development
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body" style="font-size: small; font-weight: 370; text-align: justify;">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="font-size: small; height: fit-content;"
                            type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            MEAN Stack Development
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body" style="font-size: small; font-weight: 370; text-align: justify;">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.
                        </div>
                    </div>
                </div>
                
            </div>
        </div>



    </div>
</div>

<app-footer></app-footer>