<p style="background-color: rgb(255, 148, 148); color: rgb(173, 49, 49);">Projects works!</p>
<div class="col-md-6 p-3">
    <div class="card p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <h5 class="card-title">Online Election System </h5>
            <p class="card-text">The personal website/portfolio template by Hashir Shoaib. Built using React and
                Bootstrap. </p>
            <div class="d-grid gap-2 d-md-block"><a href="https://github.com/hashirshoaeb/home/archive/master.zip"
                    class="btn btn-outline-secondary mx-2"><i class="fab fa-github"></i> Clone Project</a><a
                    href="https://github.com/hashirshoaeb/home" target=" _blank"
                    class="btn btn-outline-secondary mx-2"><i class="fab fa-github"></i> Repo</a></div>
            <hr>
            <div class="pb-3">Languages: <a class="card-link"
                    href="https://github.com/hashirshoaeb/home/search?l=JavaScript" target=" _blank"
                    rel="noopener noreferrer"><span class="badge bg-light text-dark">JavaScript: 50.6 %</span></a><a
                    class="card-link" href="https://github.com/hashirshoaeb/home/search?l=SCSS" target=" _blank"
                    rel="noopener noreferrer"><span class="badge bg-light text-dark">SCSS: 46.2 %</span></a><a
                    class="card-link" href="https://github.com/hashirshoaeb/home/search?l=HTML" target=" _blank"
                    rel="noopener noreferrer"><span class="badge bg-light text-dark">HTML: 3 %</span></a></div>
            <p class="card-text"><a href="https://github.com/hashirshoaeb/home/stargazers" target=" _blank"
                    class="text-dark text-decoration-none"><span class="text-dark card-link mr-4"><i
                            class="fab fa-github"></i> Stars <span class="badge badge-dark">1400</span></span></a><small
                    class="text-muted">Updated on December 24, 2024</small></p>
        </div>
    </div>
</div>