<div class="container-fluid" style="padding: 1  0px;">
    <div class="row lead" style="padding: 20px;">
        <h1 class="lead" style="font-size:10px; font-weight: normal;">
            <!-- <i class="fa-solid fa-star-of-life"
                            style="font-size: 11px; color: #8a8a8a ;"></i>&nbsp;&nbsp;  -->
            LIVE PROJECTS
        </h1>
        <h5 class="lead" style="font-family: genos; font-size: xx-large; font-family: Arial, Helvetica, sans-serif;">
            Handson
            <span style="color: #8a8a8a;font-family: genos;font-family: Arial, Helvetica, sans-serif;">Craftings</span>
        </h5>
        <p class="lead" style="font-size: medium; margin-top: 5px;color: #757575;">Good UI/UX boosts
            user satisfaction, engagement, and efficiency, driving conversions, brand reputation, and market
            competitiveness for businesses.</p>

        <!-- card1 -->
        <div class="col-lg-6 col-12" style="padding: 10px;">
            <div class="card" style="padding: 15px; margin: auto; border-radius: 4px;">
                <h5 class=" lead" style="font-weight: 500; text-decoration: none; color: #444444; font-size: large;">
                    Project 1
                </h5>
                <p class="lead" style=" font-size: small; font-weight: normal; margin-top: 5px;color: #757575;">I craft
                    intuitive and
                    visually
                    appealing user interfaces that enhance engagement and ensure seamless
                    navigation.
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="" class="btn btn-outline-secondary" style="font-size: small;"><i class="fab fa-github"></i>
                        Clone Project</a>
                    <a href="" target=" _blank" class="btn btn-outline-secondary mx-2" style="font-size: small;"><i
                            class="fab fa-github"></i> Repository</a>
                </div>
                <hr>
                <div class="pb-3 lead" style="font-weight: normal; font-size: medium;">Languages: <a class="card-link"
                        href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light lead" style=" color: black; font-weight: normal;">TypeScript: 33.1
                            %</span></a>

                    <a class="card-link m-2" href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light" style="color: black; font-weight: normal;">CSS: 6.2%</span></a>
                    <a clas s="card-link" href="" target=" _blank" rel="noopener noreferrer">

                        <span class="badge bg-light" style="color: black; font-weight: normal;">HTML: 60.7 %</span></a>
                </div>

                <p class="card-text lead" style="font-size: medium;"><a href="" target=" _blank"
                        class="text-decoration-none"><span class="card-link mr-4">
                            <span class="badge badge-dark"></span></span></a><small class="text-muted"
                        style="font-size: medium;">Updated on
                        December
                        24, 2024</small></p>
            </div>
        </div>

        <div class="col-lg-6 col-12" style="padding: 10px;">
            <div class="card" style="padding: 15px; margin: auto; border-radius: 4px;">
                <h5 class=" lead" style="font-weight: 500; text-decoration: none; color: #444444; font-size: large;">
                    Project 2
                </h5>
                <p class="lead" style=" font-size: small; font-weight: normal; margin-top: 5px;color: #757575;">I craft
                    intuitive and
                    visually
                    appealing user interfaces that enhance engagement and ensure seamless
                    navigation.
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="" class="btn btn-outline-secondary" style="font-size: small;"><i class="fab fa-github"></i>
                        Clone Project</a>
                    <a href="" target=" _blank" class="btn btn-outline-secondary mx-2" style="font-size: small; color: rgba(255, 0, 93, 0.804); border-color: rgba(255, 0, 93, 0.804);"><i
                            class="fab fa-github"></i> Repository</a>
                </div>
                <hr>
                <div class="pb-3 lead" style="font-weight: normal; font-size: medium;">Languages: <a class="card-link"
                        href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light lead" style=" color: black; font-weight: normal;">TypeScript: 33.1
                            %</span></a>

                    <a class="card-link m-2" href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light" style="color: black; font-weight: normal;">CSS: 6.2%</span></a>
                    <a clas s="card-link" href="" target=" _blank" rel="noopener noreferrer">

                        <span class="badge bg-light" style="color: black; font-weight: normal;">HTML: 60.7 %</span></a>
                </div>

                <p class="card-text lead" style="font-size: medium;"><a href="" target=" _blank"
                        class="text-decoration-none"><span class="card-link mr-4">
                            <span class="badge badge-dark"></span></span></a><small class="text-muted"
                        style="font-size: medium;">Updated on
                        December
                        24, 2024</small></p>
            </div>
        </div>

        <div class="col-lg-6 col-12" style="padding: 10px;">
            <div class="card" style="padding: 15px; margin: auto; border-radius: 4px;">
                <h5 class=" lead" style="font-weight: 500; text-decoration: none; color: #444444; font-size: large;">
                    Project 3
                </h5>
                <p class="lead" style=" font-size: small; font-weight: normal; margin-top: 5px;color: #757575;">I craft
                    intuitive and
                    visually
                    appealing user interfaces that enhance engagement and ensure seamless
                    navigation.
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="" class="btn btn-outline-secondary" style="font-size: small;"><i class="fab fa-github"></i>
                        Clone Project</a>
                    <a href="" target=" _blank" class="btn btn-outline-secondary mx-2" style="font-size: small;"><i
                            class="fab fa-github"></i> Repository</a>
                </div>
                <hr>
                <div class="pb-3 lead" style="font-weight: normal; font-size: medium;">Languages: <a class="card-link"
                        href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light lead" style=" color: black; font-weight: normal;">TypeScript: 33.1
                            %</span></a>

                    <a class="card-link m-2" href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light" style="color: black; font-weight: normal;">CSS: 6.2%</span></a>
                    <a clas s="card-link" href="" target=" _blank" rel="noopener noreferrer">

                        <span class="badge bg-light" style="color: black; font-weight: normal;">HTML: 60.7 %</span></a>
                </div>

                <p class="card-text lead" style="font-size: medium;"><a href="" target=" _blank"
                        class="text-decoration-none"><span class="card-link mr-4">
                            <span class="badge badge-dark"></span></span></a><small class="text-muted"
                        style="font-size: medium;">Updated on
                        December
                        24, 2024</small></p>
            </div>
        </div>

        <div class="col-lg-6 col-12" style="padding: 10px;">
            <div class="card" style="padding: 15px; margin: auto; border-radius: 4px;">
                <h5 class=" lead" style="font-weight: 500; text-decoration: none; color: #444444; font-size: large;">
                    Project 4
                </h5>
                <p class="lead" style=" font-size: small; font-weight: normal; margin-top: 5px;color: #757575;">I craft
                    intuitive and
                    visually
                    appealing user interfaces that enhance engagement and ensure seamless
                    navigation.
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a href="" class="btn btn-outline-secondary" style="font-size: small;"><i class="fab fa-github"></i>
                        Clone Project</a>
                    <a href="" target=" _blank" class="btn btn-outline-secondary mx-2" style="font-size: small;"><i
                            class="fab fa-github"></i> Repository</a>
                </div>
                <hr>
                <div class="pb-3 lead" style="font-weight: normal; font-size: medium;">Languages: <a class="card-link"
                        href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light lead" style=" color: black; font-weight: normal;">TypeScript: 33.1
                            %</span></a>

                    <a class="card-link m-2" href="" target=" _blank" rel="noopener noreferrer">
                        <span class="badge bg-light" style="color: black; font-weight: normal;">CSS: 6.2%</span></a>
                    <a clas s="card-link" href="" target=" _blank" rel="noopener noreferrer">

                        <span class="badge bg-light" style="color: black; font-weight: normal;">HTML: 60.7 %</span></a>
                </div>

                <p class="card-text lead" style="font-size: medium;"><a href="" target=" _blank"
                        class="text-decoration-none"><span class="card-link mr-4">
                            <span class="badge badge-dark"></span></span></a><small class="text-muted"
                        style="font-size: medium;">Updated on
                        December
                        24, 2024</small></p>
            </div>
        </div>

        <a class="lead" href="http://"
            style="font-size: small; font-weight: normal; color: #444444; text-decoration: none;"><i
                class="fa-solid fa-arrow-right" style="font-size: 12px;"></i>&nbsp; View all</a>

    </div>
</div>
<app-footer></app-footer>