.card {
    border-radius: 3px;
    border: 1.3px solid rgba(0, 0, 0, 0.53);
}

.btn {
    font-size: small;
    color: rgba(255, 0, 93, 0.804);
    border-color: rgba(255, 0, 93, 0.804);
}
.btn:hover{
    background-color: rgba(255, 0, 93, 0.2);
}