<div class="container">

        <div class="text-center container1">
                <h1 class="display-1">Hey, I'm Sandipan</h1>
                <p class="lead" style="padding: 10px; color: white;">A Software Engineer creating mobile apps and static
                        websites.</p>
                <div class="p" style="padding: 0rem;">
                        <a class="icon" target="_blank" rel="noopener noreferrer" href="https://github.com/SandipanKarmakar04"
                                aria-label="My github"><i class="fab fa-github socialicons"
                                        style="font-size:35px; padding: 7px; color: white"></i></a>
                        <a  target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100009137767545"
                                aria-label="My facebook"><i class="fab fa-facebook socialicons"
                                        style="font-size:35px; padding: 7px; color: white"></i></a>
                        <a class="icon" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/sandipan__karmakar/"
                                aria-label="My instagram"><i class="fab fa-instagram socialicons"
                                        style="font-size:35px; padding: 7px; color: white"></i></a>
                        <a class="icon" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/sandipankarmakar/"
                                aria-label="My linkedin"><i class="fab fa-linkedin socialicons"
                                        style="font-size:35px; padding: 7px; color: white"></i></a>
                        <a class="icon" target="_blank" rel="noopener noreferrer" href="https://x.com/Sandipan_04"
                                aria-label="My twitter"><i class="fab fa-twitter socialicons"
                                        style="font-size:35px; padding: 7px; color: white"></i></a>
                </div>

                <div style="padding: 20px;">
                        <a class="btn btn-outline btn-lg " id="contact" href="" role="button"
                                aria-label="Learn more about me"
                                style="border: 1.4px solid white; color: white; border-radius: 5px; margin: 5px; font-size: 15px;">Contact
                                me</a>
                        <a class="btn btn-outline btn-lg " id="resume" href="" role="button"
                                aria-label="Learn more about me"
                                style="border: 1.4px solid white; color: white; border-radius: 5px; margin: 5px; font-size: 15px;">Resume</a>
                </div>
        </div>
</div>


<div class="container-fluid" style="padding: 20px;">

        <div class="row lead" style="padding: 20px;">
                <h1 class="lead" style="font-size:10px; font-weight: normal;">
                        <!-- <i class="fa-solid fa-star-of-life"
                                style="font-size: 11px; color: #8a8a8a ;"></i>&nbsp;&nbsp;  -->
                        BEST SERVICE
                </h1>
                <h5 class="lead"
                        style="font-family: genos; font-size: xx-large; font-family: Arial, Helvetica, sans-serif;">What
                        I Can Do For
                        <span
                                style="color: #8a8a8a;font-family: genos;font-family: Arial, Helvetica, sans-serif;">You</span>
                </h5>
                <p class="lead" style="font-size: medium; margin-top: 5px;color: #757575;">Good UI/UX boosts
                        user satisfaction, engagement, and efficiency, driving conversions, brand reputation, and market
                        competitiveness for businesses.</p>
                <div class="col-lg col-6" style="padding: 10px;">

                        <h5 class="lead"
                                style="font-weight: normal; text-decoration: none; color: #444444; font-size: medium;">
                                <i class="fa-solid fa-earth-americas"
                                        style="color: #444444; font-size: 13px;"></i>&nbsp; UI/UX
                                Design
                        </h5>
                        <p style="font-size: small; margin-top: 5px;color: #757575;">I craft intuitive and visually
                                appealing user interfaces that enhance engagement and ensure seamless navigation.
                        </p>
                </div>
                <div class="col-lg col-6" style="padding: 10px;">

                        <h5 class="lead" style="font-weight: normal; color: #444444; font-size: medium;"> <i
                                        class="fa-solid fa-laptop" style="color: #444444; font-size: 13px;"></i>&nbsp;
                                Website Design</h5>
                        <p class="lead" style="font-size: small; margin-top: 5px;color: #757575;">I build visually
                                stunning, high performing websites from sleek landing pages to dynamic web apps ensuring
                                accessibility and responsiveness.
                        </p>
                </div>
                <div class="col-lg col-6" style="padding: 10px;">

                        <h5 class="lead" style="font-weight: normal; color: #444444; font-size: medium;"><i
                                        class="fa-solid fa-rocket"
                                        style="text-decoration: none; color: #444444; font-size: 13px;"></i>&nbsp;
                                Application Design
                        </h5>
                        <p style="font-size: small; margin-top: 5px;color: #757575;">A great app is more than
                                features—it’s the experience. I design intuitive, visually appealing mobile and web apps
                                for effortless interaction.
                        </p>
                </div>
                <div class="col-lg col-6" style="padding: 10px;">

                        <h5 class="lead" style="font-weight: normal; color: #444444; font-size: medium;"><i
                                        class="fa-solid fa-list-check"
                                        style="text-decoration: none; color: #444444; font-size: 13px;"></i>&nbsp;
                                        Task Management
                        </h5>
                        <p style="font-size: small; margin-top: 5px;color: #757575;">From idea to execution, I
                                streamline development for smooth collaboration, clear communication, and timely
                                delivery.
                        </p>
                </div>

                <a class="lead" href="http://"
                        style="font-size: small; font-weight: normal; color: #444444; text-decoration: none;"><i
                                class="fa-solid fa-arrow-right" style="font-size: 12px;"></i>&nbsp; Get consultation</a>

        </div>
</div>


<app-footer></app-footer>