

<div class="container py-5">
        <div id="stars"></div>
        <div class="text-center container">
                <h1 class="display-1">Hey, I'm Sandipan</h1>
                <p class="lead m-0" style="padding: 10px;">A Software Engineer creating mobile apps and static websites.</p>
                <div class="p" style="padding: 2rem;"> 
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/"
                                aria-label="My github"><i class="fab fa-github socialicons" style="font-size: 45px; padding: 7px; color: #444444;"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/"
                                aria-label="My facebook"><i class="fab fa-facebook socialicons" style="font-size: 45px; padding: 7px; color: #444444;"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/"
                                aria-label="My instagram"><i class="fab fa-instagram socialicons" style="font-size: 45px; padding: 7px; color: #444444;"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/"
                                aria-label="My linkedin"><i class="fab fa-linkedin socialicons" style="font-size: 45px; padding: 7px; color: #444444;"></i></a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/"
                                aria-label="My twitter"><i class="fab fa-twitter socialicons" style="font-size: 45px; padding: 7px; color: #444444;"></i></a>
                </div>
                
                <a class="btn btn-outline btn-lg " id="contact" href="" role="button"
                        aria-label="Learn more about me" style="border: 1px solid #ff8400; background-color: #ff8400; color: white; border-radius: 5px; margin: 5px; font-size: 15px;">Contact me</a>
                <a class="btn btn-outline btn-lg " id="resume" href="" role="button"
                        aria-label="Learn more about me" style="border: 1px solid #444444; border-radius: 5px; margin: 5px; font-size: 15px;">Resume</a>
        </div>
</div>


<div class="container-fluid" style="background-color: #f3f3f3; padding: 20px;">

        <div class="row" style="padding: 20px;">
            <h1 style="font-size:10px;"><i class="fa-solid fa-star-of-life"
                    style="font-size: 11px; color: #ff8400;"></i>&nbsp;&nbsp; BEST SERVICE
            </h1>
            <h5 style="font-family: genos; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">What I Can Do For
                <span style="color: #ff8400;font-family: genos;font-family: Arial, Helvetica, sans-serif;">You</span>
            </h5>
            <p style="font-size: 11px; margin-top: 5px;color: #757575;">Good UI/UX boosts
                user satisfaction, engagement, and efficiency, driving conversions, brand reputation, and market
                competitiveness for businesses.</p>
            <div class="col-lg col-6" style="padding: 10px;">

                <h5 style="text-decoration: none; color: #542d86; font-size: 13px;"> <i
                        class="fa-solid fa-earth-americas" style="color: #542d86; font-size: 13px;"></i>&nbsp; UI/UX
                    Design</h5>
                <p style="font-size: 11px; margin-top: 5px;color: #757575;">Good UI/UX boosts
                    user satisfaction, engagement, and efficiency, driving conversions, brand reputation.</p>
            </div>
            <div class="col-lg col-6" style="padding: 10px;">

                <h5 style="text-decoration: none; color: #542d86; font-size: 13px;"> <i class="fa-solid fa-laptop"
                        style="color: #542d86; font-size: 13px;"></i>&nbsp; Website Design</h5>
                <p style="font-size: 11px; margin-top: 5px;color: #757575;">Good UI/UX boosts
                    user satisfaction, engagement, and efficiency, driving conversions, brand reputation.</p>
            </div>
            <div class="col-lg col-6" style="padding: 10px;">

                <h5 style="text-decoration: none; color: #542d86; font-size: 13px;"><i class="fa-solid fa-rocket"
                        style="text-decoration: none; color: #542d86; font-size: 13px;"></i>&nbsp; Application Design
                </h5>
                <p style="font-size: 11px; margin-top: 5px;color: #757575;">Good UI/UX boosts
                    user satisfaction, engagement, and efficiency, driving conversions, brand reputation.</p>
            </div>
            <div class="col-lg col-6" style="padding: 10px;">

                <h5 style="text-decoration: none; color: #542d86; font-size: 13px;"><i class="fa-solid fa-list-check"
                        style="text-decoration: none; color: #542d86; font-size: 13px;"></i>&nbsp; Project Management
                </h5>
                <p style="font-size: 11px; margin-top: 5px;color: #757575;">Good UI/UX boosts
                    user satisfaction, engagement, and efficiency, driving conversions, brand reputation.</p>
            </div>
        
            <a href="http://" style="font-size: 13px; color: #542d86; text-decoration: none;"><i class="fa-solid fa-arrow-right" style="font-size: 10px;"></i>&nbsp; Get consultation</a>
        
        </div>
    </div>


<app-footer></app-footer>